body {
    padding: 0;
    margin: 0;
    letter-spacing: 25px;
}

.container {
    height: 100vh;
    background: 
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}
.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cherry-img {
    z-index: -1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
#tart-and-sweet {
    font-size: 100px;
    z-index: 1;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#cherries {
    font-size: 75px;
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: #9E2C2E;
}
#grey-bg {
    background-color: grey;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    color:  #9E2C2E
}
